body {
    font-family: Tahoma;
    font-size: 13px;
    background-color: #E9EBEE;
    width: 100%;
    height: 1000px;
    margin: 0px auto;
    padding: 0px;
}

a {
    text-decoration: none;
}

/* ==================================== HEADER ======================================= */

.header {
    background-color: #4267B2;
    height: 50px; 
    width: 100%; 
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.logo-header {
    float: left;
    margin-left: 150px;
}

.form-search {
    float: left;
}

.form-search .input-search {
    width: 500px; 
    height: 24px; 
    clear: left;
    /* margin: 10px 0px 10px 0px; */
}

.form-search .btn-search {
    width: 60px; height: 30px; 
    margin-left: -5px; 
    margin-right: 50px;
    padding: 1px; 
    background-color: #F5F6F7;
}

.menu-header{
    margin: 10px;
}

.menu-header ul {
    margin: 0px;
    padding: 0px;
}

.menu-header ul {
    float: left;
    list-style: none;
}
.menu-header ul li {
    float: left;
    position: relative;
}

.menu-header ul li a {
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 0px 20px;
    border-right: 1px solid #ccc;
}

.menu-header ul li a:hover {
    background: rgb(30, 56, 107);
    color: #fff;
}

.menu-header ul li a.active {
    background: #1949b5;
}

.menu-header ul li a.active:hover{
    background: rgb(30, 56, 107);
    color: #333;
}


/* ========================================== CENTER ======================================== */

.content {
    margin-top: 50px; width: 100%; height: 100%;
}

.center {
    height: 1000px;
    width: 60%;
    float: left;
    margin-left: 20%;
}

/* ------------------------------------------------------------------------------------ */

.center .center-left {
    float: left; 
    width: 60%; height: 100%;
}

.center .center-left .write {
    background-color: white;
    margin-top: 10px;
    width: 98%;
    height: max-content;
}

.center .center-left .write .txt-area {
    /* background: url(img/avtFriend.png) no-repeat -7px; */
    width: 99%;
    height: 100px;
    margin-bottom: 10px;
}

.center .center-left .write .hr-area {
    width: 98%;
    margin-top: -10;
}

.center .center-left .write  #avt-area {
    margin-top: 20px;
}

.center .center-left .write b {
    /* float: left; */
    font-size: 15px; 
    color: rgb(61, 61, 61); 
    margin: 40px; 
    padding: 10px;
    background-color: #E9EBEE;
    border-radius: 10px;
}

.center .center-left .write a:hover{
    /* background-color: #F5F6F7; */
}

.center-left ul {
    margin: 0px;
    padding: 0px;
}

.center-left ul li {
    list-style: none;
    /* border-bottom: 2px #ccc solid; */
    clear: left;
    float: left;
    margin: 10px 10px 10px 0px;
    width: 100%;
}

.center-left ul li a{
    text-decoration: none;
    vertical-align: middle;
}

.center-left ul li a img {
    clear: left;
    float: left;
}

.center-left ul li a:hover {
    text-decoration: underline;
}

.center-left ul li img {
    float: left;
    /* width: 200px; */
    margin: 0px 10px 20px 0px;
}

.center .center-left .stories {
    background-color: white;
    height: max-content;
    width: 98%;
    margin-top: 10px;
}

.center .center-left .stories p {
    margin: 3px;
}

.center .center-left .stories img {
    margin: 3px;
    width: 125px;
}

.center .center-left .status {
    background-color: white;
    height: max-content;
    width: 98%;
    margin-top: 10px;
}
/* ------------------------------------------------------------------------- */
.center .center-right {
    /* background-color: rgb(122, 16, 114); */
    float: left; 
    width: 34.5%; height: 100%;
    margin-top: 20px;
}

.center .center-right .advertise {
    background-color: white;
    height: max-content;
    margin-bottom: 20px;
}

.center .center-right .advertise .ad-tittle {
    font-size: 15px; color: rgb(61, 61, 61); margin: 20px;
}

.center .center-right .advertise .more-game{
    margin: 10px;
}

.center .center-right .advertise .more-game img {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 10px;
}

.center .center-right .lang {
    background-color: white;
    height: 100px;
    padding: 10px;
}

.center .center-right .lang p.top {
    margin: 20px;
    float: left;
}

.center .center-right .lang p.bottom {
    margin: 20px;
    float: left;
}

/* ===========================================  LEFT  ============================================== */
.left {
    float: left; 
    width: 20%; height: 100%;
    margin-right: 5px;
    position: fixed;
    top: 50px;
}

.left-top{
    margin-left: 80px;
}

.left .left-top ul{
    /* margin: 0px;
    padding: 0px; */
    /* border: 1px solid #ccc; */
}

.left .left-top ul li {
    list-style: none;
}

.left-top ul li a {
    display: block;
    background: url(unnamed.png) no-repeat 2px;
    text-decoration: none;
    line-height: 35px;
    /* border-top: 1px solid #ccc; */
    text-indent: 30px;
    color: black;
}

.left-top ul li a:hover{
    background-color: #F5F6F7 ;
}

/* =========================================== RIGHT ============================================= */

.right {
    float: left; width: 17%; height: 100%;
}

.right .friend-box {
    /* margin: -5px; */
}

.right .friend-box ul {
    margin:  0px;
    padding: 0px;
    /* border: 1px solid #ccc; */
}

.right .friend-box ul li {
    list-style: none;
}

.right .friend-box ul li a {
    display: block;
    background: url(img/avtFriend.png) no-repeat -7px;
    background-size: contain;
    text-decoration: none;
    line-height: 45px;
    text-indent: 30px;
    border-left: 1px solid #ccc;
    margin-left: 150px;
    color: black;
}

.right .right-form{
    margin-left: 150px;
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
}

.right .right-form .right-input{
    height: 23px;
    width: -webkit-fill-available;
}